* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.gal-container .gal-heading {
  margin-bottom: 30px;
}
.gal-container .gal-heading h2 {
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  font-style: italic;
  text-decoration: underline;
}
.gal-container .gal-heading span {
  color: blue;
}
.gal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.gal-container .box {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
.wis img {
  transition: 1s;
}
.wis img:hover {
  transform: scale(1.3);
}
.gal-container .box .wisdom {
  width: 32%;
  display: flex;
  flex-direction: column;
}
.gal-container .box .wisdom .wis {
  overflow: hidden;
}
.gal-container .box img {
  width: 100%;
  padding-bottom: 15px;
  border-radius: 5px;
}
